h1{
    text-align: center;
    color:rgb(30, 12, 110)
}
h2{
    text-align: center;
}
p{
    text-align: center;
}
a:hover{
    color:rgb(167, 161, 255)
}
img{
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#caption{
    font-size: small;
    color:rgb(58, 58, 58);
    text-align: center;
}
ol.suggestions {
    display: inline-block;
    text-align: left;
}
ul.resources {
    display: inline-block;
    text-align: left;
}

div.list{
    text-align: center;    
}